@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/cerulean/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.tab-panel{
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .user-tabset > .nav-tabs > li:hover{
border-bottom: 4px solid rgb(18, 134, 230)
}

.user-tabset > .nav-tabs > li.active{
border-bottom: 4px solid rgb(65, 21, 223);
position: relative;
}
